:root {
  --white: #fff;
  --grey-e: #eee;
  --grey-de: #dedede;
  --grey-9: #999;
  --grey-6: #666;
  --grey-4: #444;
  --black: #272727;
  --blue: #1B73D4;
}

// break point
$max: 1920;
$pc: 1160;
$tablet: 1024;
$mobile: 750;
$mJinhak: 720;

// desigin file size
$tabletDesign: 768;
$mobileDesign: 375;
