@import 'variables.scss';

/* mixin */
@mixin flex-box($j:flex-start,$a:center){
  display: flex;
  justify-content: $j;
  align-items: $a;
}

html{
  // font-size: 0.8333vw;
  font-size: 1.1111vw;
}
.app{

  --cont-space: 7.291vw;
  background-color: #000;
}

.app-contents{
  margin: 0 var(--cont-space); 
  background-color: var(--container-bg);
}

.header{
  position: relative;
  @include flex-box(space-between,center);
  width: 100%;
  padding: 0 var(--cont-space);
  .logo{
    font-size: 1.125rem;
  }
}

.navigation{
  display: flex;
  padding: 3.88em 0;
  color: #fff;
  font-family: $montserrat;
  font-size: 1.125rem;
  a{
    margin-left: 3.88em;
  }
}

.grade-circle {
  display: inline-block;
  width: 0.857em;
  height: 0.857em;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);

  &.brown {
    background-color: #804040;
  }

  &.grey {
    background-color: #c0c0c0;
  }

  &.violet {
    background-color: #cb9bf2;
  }

  &.red {
    background-color: #ef050c;
  }

  &.blue {
    background-color: #287bf9;
  }

  &.green {
    background-color: #229527;
  }

  &.orange {
    background-color: #fd7800;
  }

  &.yellow {
    background-color: #fff200;
  }

  &.sky {
    background-color: #b0d8ff;
  }

  &.pink {
    background-color: #ffcaeb;
  }

  &.navy {
    background-color: #2027b7;
  }

  &.black {
    background-color: #000000;
  }

  &.white {
    background-color: #ffffff;
  }
}

.page-title{
  font-family: 'Montserrat', sans-serif;
  width: 3.5rem;
}