@import 'reset';
@import 'variables';
@import 'mixin';
@import 'layout';

input[type="text"],input[type="number"],input[type="search"],input[type="password"],button{
  max-width: 100%;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 0.4rem;
  &:focus{
    background-color: var(--white);
  }
}

html{
  font-size: 0.8333vw;
  @include pc(){
    font-size: 1vw;
  }
  @include tablet(){
    font-size: 1.33vw;
  }
  @include mobile(){
    font-size: 3.65vw;
  }
}


.search-box{
  position:relative;
  font-size: 1rem;
  input[type="search"]{
    width: 100%;
    padding: .5em 2.5em .5em 1em;
    line-height: 1.44;
  }
  button{
    position: absolute;
    right: .4rem;
    top: .3rem;
    width: 1.94rem;
    height: 1.94rem;
    padding:0;
    &::before{
      content:'';
      display: block;
      width: 100%;
      height: 100%;
      background:url(/images/icon_search.svg) center/80% no-repeat; 
    }
    span{
      @include blind;
    }
  }
}

.search-list{
  display: none;
  width: 100%;
  line-height: 1.44;
  background-color: var(--white);
  li{
    a{
      display: block;
      padding: 0.5em 0.5em 0.5em 1em;
    }
  }
}

textarea{
  width: 100%;
}
.btn-save{
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: 1em;
  margin-top: 1rem;
}
.grade-choose{
  position:absolute;
}
.grade-circle {
  display: inline-block;
  width: 0.857em;
  height: 0.857em;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);

  &.brown {
    background-color: #804040;
  }

  &.grey {
    background-color: #c0c0c0;
  }

  &.violet {
    background-color: #cb9bf2;
  }

  &.red {
    background-color: #ef050c;
  }

  &.blue {
    background-color: #287bf9;
  }

  &.green {
    background-color: #229527;
  }

  &.orange {
    background-color: #fd7800;
  }

  &.yellow {
    background-color: #fff200;
  }

  &.sky {
    background-color: #b0d8ff;
  }

  &.pink {
    background-color: #ffcaeb;
  }

  &.navy {
    background-color: #2027b7;
  }

  &.black {
    background-color: #000000;
  }

  &.white {
    background-color: #ffffff;
  }
}

.page-title{
  margin: 0.5em 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 7.5rem;
  line-height: 1em;
  @include mobile(){
    font-size: 3rem;
  }
}

.btn-edit{
  position: absolute;
  top: 0.25rem;
  right: 0;
  margin-left: 0.5rem;
  width: 2.44rem;
  height: 2.44rem;
  padding:0;
  &::before{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background:url(/images/icon_edit.svg) center/100% no-repeat; 
  }
  span{
    @include blind;
  }
}