@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

// RESET
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  line-height: 1.44;
  font-family: "Noto Sans KR", malgun Gothic, "맑은 고딕", Dotum, "돋움", sans-serif;
  color: var(--black);
  word-break: keep-all;
}

h1,h2,h3,h4,h5,h6,
ul,ol,li,
dl,dt,dd,
div,p,
span,strong,b,
button,input,select,label,textarea,
fieldset,figure,figcaption,
th,td,form {
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table,img {
  max-width: 100%;
}

ul,ol,li,dd {
  list-style: none;
}

img,fieldset,iframe {
  border: 0;
}

img[src$=".jpg"],img[src$=".gif"],img[src$=".png"] {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

input,textarea,button,select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: 1rem;
  border: 1px solid transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  transition: all 0.4s;cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  font-size: inherit;
}

input::-ms-clear,
input:-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input::-ms-reveal,
input:-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

select, input, textarea {
  vertical-align: middle;
}

img {
  vertical-align: top;
}

select, input[type=text] {
  letter-spacing: 0 !important;
}

select:disabled, input:disabled {
  background-color: #999;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-size: inherit;
  color: #999;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
  font-size: inherit;
  color: #999;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  font-size: inherit;
  color: #999;
}

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  font-size: inherit;
  color: #999;
}

textarea::placeholder,
input::placeholder {
  font-size: inherit;
  color: #999;
}

video:focus,
textarea:focus,
input:focus,
a:focus,
button:focus {
  outline: none;
}

textarea {
  line-height: 1.6;
  letter-spacing: 0;
  resize: none;
  overflow: auto !important;
}

em, address, i {
  font-style: normal;
}

hr,caption, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

caption {
  position: static;
}

.cursor {
  cursor: pointer;
}
