:root {
  --white: #fff;
  --black: #333;
  --grey: #f5f5f5;
  --grey-stroke: #eee;
  --inp-placeholder: #a1a1a1;
  --highlight: #e6ffbf;
  --container-bg: #ebebeb;
}

// break point
$max: 1920;
$pc: 1160;
$tablet: 1024;
$mobile: 767;

$montserrat: 'Montserrat', sans-serif;
$noto: 'Noto Sans KR','apple gothic','맑은 고딕',sans-serif;