:root {
  --white: #fff;
  --black: #101010;
  --grey: #696969;  
  --bg-grey: #ebebeb;
  --point: #fc4121;
  --box-fill: #f7f7f7;
  --box-stroke: #e9e9e9;
  --day-data: #e2e2e2;
}

// break point
$max: 1920;
$pc: 1600;
$pc-m: 1200;
$tablet: 1024;
$mobile: 767;
$pcSize: $pc * 1px;
$pcSizeM: $pc-m * 1px;
$tabletSize: $tablet * 1px;
$mobileSize: $mobile * 1px;

$montserrat: 'Montserrat', sans-serif;
$noto: 'Noto Sans KR','apple gothic','맑은 고딕',sans-serif;